<header>
       <nav class="navbar navbar-expand-lg navbar-black ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item border-end ps-5 pe-5">
                <a class="nav-link active text-light " aria-current="page" href="/sendfiletoapi">Ajout de son dans l'API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light border-end ps-5 pe-5" href="/">Liste des sons</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</header>