<div class="modal fade" id="soundModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body" id="modalBody">
        Encours d'enregistrement...
      </div>
      <div class="modal-footer" id="modalFooter">
        <button type="button" id="stopRecord"  onclick="stopRecording()" class="btn btn-primary">Arreter l'enregistrement</button>
        <div id = "containerForm">
        
        </div>
      </div>
    </div>
  </div>
</div>